<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	xmlns:th="http://www.thymeleaf.org"
  	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta charset="UTF-8"/>
		<title>CURSO</title>
		<meta name="description" content="Spring thymeleaf html5 demo"/>
		<meta name="author" content="sif"/>
		<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}"/>
	</head>
	<body>
		<header class="header">
			Curso Html5, CSS3
		</header>
		<section layout:fragment="content" class="content">
		</section>
		<footer class="footer">
			<span th:text="${#dates.format(#dates.createNow(), 'dd/MMM/yyyy HH:mm')}"></span>
		</footer>
		<script src="/js/script.js" type="text/javascript" th:src="@{/js/script.js}"></script>

	</body>
</html>